body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.container {
  position: relative;
}

button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  cursor: pointer;
}

button span {
  margin-right: 5px;
}

.right-sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* Adjust this value based on your menu width */
  width: 300px;
  height: 100%;
  background-color: #333;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
}

.right-sidebar ul {
  list-style: none;
  padding: 0;
}

.right-sidebar li {
  margin-bottom: 10px;
}

.right-sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
