body{
    background-color: #0273a0;
}

.slider{
    padding: 30px;
    border-radius: 3px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}





.range-slider{
    width: 300px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}


.title{
    text-align: center;
    margin-top: -10px;
    font-size: 30px;
    color: #0273a0;
    font-weight: 800;
    text-transform: uppercase;
}
.range-slider .rangeValues{
    display: block;
    background-color: #0273a0;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 22px;
    margin-bottom: 35px;
}



input[type=range]{
    -webkit-appearance: none;
    border: 1px solid #ffffff;
    width: 300px;
    position: absolute;
    left: 0;
}
input[type=range]::-webkit-slider-runnable-track{
    width: 300px;
    height: 5px;
    background-color: #dddddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #0273a0;
    margin-top: -6px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

input[type=range]:focus{
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track{
    background-color: #e5e5e5;
}

